<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link href="dist/css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="manifest" href="/manifest.json" /> -->

    <link rel="stylesheet" type="text/css" href="/styles/main.css">

    <title>CEMS</title>

    <!-- Inject the polyfill bundle only if the browser is old -->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- <script id="stripe-js" src="https://js.stripe.com/v3/" async></script> -->
    <!-- <script src="https://vjs.zencdn.net/7.0.3/video.min.js"></script> -->
    <script src="/app/index.bundle.js"></script>
    <!-- <script src="/styles/antd.css"></script> -->
  </body>
</html>
